form
{
    
    margin: 20px auto 10px;
    width: 50%;
    padding: 20px;
    border: 1px solid darkblue;
}

.form-items
{
    text-align: right;
}

label
{
    margin-right: 10px;
    font-weight: bold;
    color: darkblue;
}

input[type="text"], input[type="number"]
{
    background-color: #ccc;
    border: 1px solid darkblue;
    height: 30px;
    margin: 5px 0;
    width: 80%;
    padding: 2px 20px;
    border-radius: 10px;
    color: darkblue;
}
input[type="submit"]
{
    margin: 10px 20%;
    cursor: pointer;

}